*{
    margin: 0;
    padding: 0;
}

body{background-color: rgb(211, 211, 211);}

.gallery{
    margin: 80px auto;
    width: 80%;
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    
}

.gallery li {list-style: none;}

.gallery  li img{
    width: 100%;
    display: block;
    /* border: 3px solid white; */
    padding: 5px;
    box-sizing: border-box;
}





